* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    background-color: green;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.content-body{
    background-color: bisque;
    padding: 20px;
}