{% extends 'blog/base.html' %}
{# blog detail start #}
{% block content_detail %}
    <div class="row mb-5">
        <div class="col-1 text-end">
            <!-- Left arrow-square -->
            <a style="color: white" href="{% url 'index' %}"><i class="bi bi-arrow-left-square-fill"></i></a>
        </div>
        <div class="col-11 col-sm-11 col-md-11 col-lg-8 col-xl-8 col-xxl-8">
            <div class="card mb-3 text-dark" style="max-width: 1200px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ blog.image.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ blog.id }}. {{ blog.title }}</h5>
                            <p class="card-text">{{ blog.body }}</p>
                            <p class="card-text"><small class="text-danger">{{ blog.updated | timesince }} ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-inline d-lg-none d-xl-none d-xxl-none">
                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item ">
                            {% if previous_article %}
                                <a class="page-link" href="{% url 'blog_detail' previous_article.pk %}">Previous</a>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            {% if next_article %}
                                <a class="page-link" href="{% url 'blog_detail' next_article.id %}">Next</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                <!-- /Pagination -->

                <!-- Write Comment -->
                <form action="{% url 'blog_detail' blog.id %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-primary my-2">Submit</button>
                </form>
                <!-- /Write Comment -->
            </div>


            <!-- Comments -->
            <p>
                <button class="btn btn-light position-relative" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-chat-dots-fill text-dark"></i> Comments
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ comments.count }}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                {% if comments %}
                    {% for comment in comments %}
                        <div class="card card-body text-dark mb-2">
                            {{ comment.user }}
                            <hr>
                            {{ comment.message }}
                        </div>
                    {% endfor %}
                {% else %}
                    <span>No comment!</span>
                {% endif %}
            </div>
            <!-- /Comments -->
        </div>
        <div class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline d-xxl-inline  col-lg-3 col-xl-3 col-xxl-3 ">
            <!-- Pagination start-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item ">
                        {% if previous_article %}
                            <a class="page-link" href="{% url 'blog_detail' previous_article.pk %}">Previous</a>
                        {% endif %}
                    </li>
                    <li class="page-item">
                        {% if next_article %}
                            <a class="page-link" href="{% url 'blog_detail' next_article.id %}">Next</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <!-- Pagination end-->

            <!-- Comment -->
            <form action="{% url 'blog_detail' blog.id %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
            <!-- /Comment -->

        </div>
    </div>
{% endblock %}
{# Blog detail end #}