{% extends 'blog/base.html' %}

{% block content %}
    <div class="swiper-wrapper d-flex-wrap">
        {% for blog in blogs %}
            <!-- CARD START -->
            <article class="card__article swiper-slide">
                <div class="card__image">
                    <img src="{{ blog.image.url }}" alt="image" class="card__img">
                    <div class="card__shadow"></div>
                </div>
                <div class="card__data">
                    <h3 class="card__name">{{ blog.title | truncatewords:2 }}</h3>
                    <p class="card__description">
                        {{ blog.body | truncatewords:4 }}
                    </p>
                    <a href="{% url 'blog_detail' blog.id %}" class="card__button">View More</a>
                </div>
            </article>
            <!-- CARD END -->
        {% endfor %}
    </div>
{% endblock %}